$blue-lighter1:#95bfe3;
$blue-lighter2:#64aebe;
$blue-lighter3:#2fa0d8;
$blue-lighter4:#288ebe;
$blue-lighter5:#52b3e3;
$blue-lighter6:#2383a8;
$blue-lighter7:#5494d0;
$blue-lighter8:#4590a2;
$blue-lighter9:#167fae;
$blue-lighter10:#32a1d1;
$blue-lighter11:#008ec6;
$blue-lighter12:#378cb6;
$blue-lighter13:#167fae;
$blue-lighter14:#32a1d8;
$blue-lighter15:#0678be;
$blue-lighter16:#0060ac;
$blue-lighter17:#2282ae;
$blue-lighter18:#2b7fc7;
$blue-lighter19:#1d6caf;
$blue-lighter20:#2fa0d8;
$blue-lighter21:#00b6f1;
$blue-lighter22:#2787b8;
$blue-lighter23:#007fce;
$blue-lighter24:#e0e3e7;
$blue-lighter25:#66afe9;
$blue-lighter26:#4a79a3;
$blue-lighter27:#4091f0;
$blue-lighter28:#dcd3fd;
$blue-lighter29:#d3e4fd;
$blue-lighter30:#98a8c9;
$blue-lighter31:#8fbef0;
$blue-lighter32:#7fa8c4;
$blue-lighter33:#768092;
//bluedark
$blue-darker1:#448aff;
$blue-darker2:#005b93;
$blue-darker3:#0f5f80;
$blue-darker4:#0f5f80;
$blue-darker5:#0f5f80;
$blue-darker6:#295d75;
$blue-darker7:#105f7e;
$blue-darker8:#295d75;
$blue-darker9:#105f7e;
$blue-darker10:#033c6d;
$blue-darker11:#003366;
$blue-darker12:#0d5491;
$blue-darker13:#2b489b;
$blue-darker14:#153d98;
$blue-darker15:#003361;
$blue-darker16:#144860;
$blue-darker17:#05374b;
$blue-darker18:#003333;
$blue-darker19:#114568;
$blue-darker20:#024680;
$blue-darker21:#007bff;
$blue-darker22:#2c6799;
$blue-darker23:#3073ac;
$blue-darker24:#2a6394;

$gray-lighter1:#ffffff;
$gray-lighter2:#fcfcfc;
$gray-lighter3:#eeeeee;
$gray-lighter4:#f3f3f3;
$gray-lighter5:#eaeaea;
$gray-lighter6:#f0f0f0;
$gray-lighter7:#f1f1f1;
$gray-lighter8:#f9f6f6;
$gray-lighter9:#f2f2f2;
$gray-lighter10:#f9f9f9;
$gray-lighter11:#f6f6f6;
$gray-lighter12:#fefefe;
$gray-lighter13:#dedede;
$gray-lighter14:#c7c1c1;
$gray-lighter15:#ccc5c5;
$gray-lighter16:#e0e0e0;
$gray-lighter17:#dedbdb;
$gray-lighter18:#e7e7e7;
$gray-lighter19:#e1e1e1;
$gray-lighter20:#dadfe0;
$gray-lighter21:#dedcdc;
$gray-lighter22:#c8c4c4;
$gray-lighter23:#dddddd;
$gray-lighter24:#f8f8f8;
$gray-lighter25:#f1f0f0;
$gray-lighter26:#e9e9e9;
$gray-lighter27:#dcdcdc;
$gray-lighter28:#f5f5f5;
$gray-lighter29:#dbdada;
$gray-lighter30:#ebebeb;
$gray-lighter31:#e0dfdf;
$gray-lighter32:#ececec;
$gray-lighter33:#e0dddd;
$gray-lighter34:#eff2f2;
$gray-lighter35:#c1c1c1;
$gray-lighter36:#cccccc;
$gray-lighter37:#bcbcbc;
$gray-lighter38:#bfbfbf;
$gray-lighter39:#ededed;
$gray-lighter40:#d2d2d2;
$gray-lighter41:#e6e6e6;
$gray-lighter42:#dfdfdf;
$gray-lighter43:#b9b9b9;
$gray-lighter44:#d9d9d9;
$gray-lighter45:#d3d3d3;
$gray-lighter46:#efefef;
$gray-lighter47:#c1bebe;
$gray-lighter48:#d2d0d0;
$gray-lighter49:#d4d4d4;
$gray-lighter50:#bbb8b8;
$gray-lighter51:#bdbdbd;
$gray-lighter52:#cdcdcd;
$gray-lighter53:#aaaaaa;
$gray-lighter54:#b1b1b1;
$gray-lighter55:#a9a9a9;
$gray-lighter56:#b6afae;
$gray-lighter57:#c6c6c6;
$gray-lighter58:#b6b6b6;
$gray-lighter59:#c3c3c3;
$gray-lighter60:#b4b4b4;
$gray-lighter61:#a4a4a4;
$gray-lighter62:#a49e9e;
$gray-lighter63:#aeaeae;
$gray-lighter64:#afaeac;
$gray-lighter65:#b7b7b7;
$gray-lighter66:#adadad;
$gray-lighter67:#9b9b9b;
$gray-lighter68:#a0a0a0;
$gray-lighter69:#999999;
$gray-lighter70:#9f9f9f;
$gray-lighter71:#9d9d9d;
$gray-lighter72:#979797;
$gray-lighter73:#9a9796;
$gray-lighter74:#a1a1a1;
$gray-lighter75:#a7a7a7;
$gray-lighter76:#a2a2a2;
$gray-lighter77:#91948f;
$gray-lighter78:#7d807b;
$gray-lighter79:#8e8b8b;
$gray-lighter80:#8c8c8c;
$gray-lighter81:#898989;
$gray-lighter82:#8f8f8f;
$gray-lighter83:#8e8c8c;
$gray-lighter84:#888787;
$gray-lighter85:#7b7b7b;
$gray-lighter86:#808080;
$gray-lighter87:#857775;
$gray-lighter88:#b2b2b2;
$gray-lighter89:#e3e3e3;
$gray-lighter90:#bcbbbb;
$gray-lighter91:#d5d4d4;
$gray-lighter92:#c0c0c0;
$gray-lighter93:#909090;
$gray-lighter94:#77838a;
$gray-lighter95:#7e8a91;
$gray-lighter96:#969697;
$gray-lighter97:#92a0a7;
$gray-lighter98:#78909c;
$gray-lighter99:#8c9aa2;
$gray-lighter100:#8c9aa2;
$gray-lighter101:#c6cace;
$gray-lighter102:#e2e2e3;
$gray-lighter103:#cacbcc;
$gray-lighter104:#edf5f8;
$gray-lighter105:#9b9e98;
$gray-lighter106:#acb1a7;
$gray-lighter107:#d6cece;
$gray-lighter108:#c1b9b9;
$gray-lighter109:#dcdcda;
$gray-lighter110:#eaeef0;
$gray-lighter111:#acb1a7;
$gray-lighter112:#faf7e1;
$gray-lighter113:rgba(204,204,204,0.722);
$gray-lighter114:#929292;
$gray-lighter115:#dde2e2;
$gray-lighter116:#bfbf9e;
$gray-lighter117:#aaaa89;
$gray-lighter118:#babbbb;
$gray-lighter119:#e6e7e8;
$gray-lighter120:#faf0ce;
$gray-lighter121:#f7d39b;
$gray-lighter122:#c6bcb0;
$gray-lighter123:#cfcfcf;
$gray-lighter124:#f9f6f6;
$gray-lighter125:#dcdada;
$gray-lighter126:#f5e1d3;
$gray-lighter127:#f5f4f2;
$gray-lighter128:rgba(255,255,255,0.502);
$gray-lighter129:rgba(206,205,205,0.902);
$gray-lighter130:rgba(255,255,255,0);
$gray-lighter131:#d0e6bd;
$gray-lighter132:#ffffce;
$gray-lighter133:#dde2cf;
$gray-lighter134:#e5f2d9;
$gray-lighter135:#b8b8b8;
$gray-lighter136:#f4f4f4;
$gray-lighter137:#8e8e8e;
$gray-lighter138:#787878;
$gray-lighter139:#e4e4e4;
$gray-lighter140:#b5b5b5;
$gray-lighter141:#fafafa;
$gray-lighter142:#fdfaf3;
$gray-lighter143:#c8c8c8;
$gray-lighter144:#d1d1d1;
$gray-lighter145:#a6a6a6;
$gray-lighter146:#f2e3ca;
$gray-lighter147:#c4c4c4;
$gray-lighter148:#d5e3f0;
$gray-lighter149:#a2b0c0;
$gray-lighter150:#f5f3f4;
$gray-lighter151:#f5e9e8;
$gray-lighter152:#a3a3a3;
$gray-lighter153:#f8f2e5;
$gray-lighter154:#888888;
$gray-lighter155:#949393;
$gray-lighter156:#838282;
$gray-lighter157:#dad7d7;
$gray-lighter158:#ced2dc;
$gray-lighter159:#c3c4c5;
$gray-lighter160:#bb9c9a;
$gray-lighter161:#dbdcde;
$gray-lighter162:#f9f8f8;
$gray-lighter163:#fff3e9;
$gray-lighter164:#c7c7c7;
$gray-lighter165:#fdfdfd;
$gray-lighter166:#f8f6f6;
$gray-lighter167:#e2efda;
$gray-lighter168:#7d7d7d;
$gray-lighter169:#acacac;
$gray-lighter170:#fbfbfb;
$gray-lighter171:#b0b0b0;
$gray-lighter172:#f1f3f4;
$gray-lighter173:#e8ecef;
$gray-lighter174:#7f7e7e;
$gray-lighter175:#828181;
$gray-lighter176:#747474;
$gray-lighter177:#cecece;
$gray-lighter178:#d8d8d8;
$gray-lighter179:#fbf7e6;
$gray-lighter180:#e1e8e7;
$gray-lighter181:#ebeeed;
$gray-lighter182:#6c7277;
$gray-lighter183:#dddcdc;
$gray-lighter184:#e7fbe8;
$gray-lighter185:#e9e8e8;
$gray-lighter186:#eed7b5;
$gray-lighter187:#b1aeae;
$gray-lighter188:#fef3e3;
$gray-lighter189:#e0ddc9;
$gray-lighter190:#fdfef5;
$gray-lighter191:#d1cfcf;
$gray-lighter192:#f7f7f7;
$gray-lighter193:#fcfbfb;
$gray-lighter194:#fffbfb;
$gray-lighter195:#e8dfd3;
$gray-lighter196:#eee5d9;
//graydark
$gray-darker1:#666666;
$gray-darker2:#5b5b5b;
$gray-darker3:#555555;
$gray-darker4:#6b5f5d;
$gray-darker5:#6f6f6f;
$gray-darker6:#676767;
$gray-darker7:#686868;
$gray-darker8:#505050;
$gray-darker9:#4e4e4e;
$gray-darker10:#616161;
$gray-darker11:#5d5d5d;
$gray-darker12:#6e6e6e;
$gray-darker13:#646464;
$gray-darker14:#5c5c5c;
$gray-darker15:#5e5451;
$gray-darker16:#5f5f5f;
$gray-darker17:#4c4b4b;
$gray-darker18:#595959;
$gray-darker19:#4a4a4a;
$gray-darker20:#444444;
$gray-darker21:#424242;
$gray-darker22:#272727;
$gray-darker23:#323232;
$gray-darker24:#2b2e35;
$gray-darker25:#434343;
$gray-darker26:#424237;
$gray-darker27:#404040;
$gray-darker28:#333333;
$gray-darker29:#313131;
$gray-darker30:#343434;
$gray-darker31:#3b3b3b;
$gray-darker32:#1b1500;
$gray-darker33:#222222;
$gray-darker34:#202020;
$gray-darker35:#020202;
$gray-darker36:#020101;
$gray-darker37:#191919;
$gray-darker38:#2f3101;
$gray-darker39:#373737;
$gray-darker40:#2b2a2a;
$gray-darker41:#0a2610;
$gray-darker42:#363636;
$gray-darker43:#171717;
$gray-darker44:#2d2506;
$gray-darker45:#0e0d0d;
$gray-darker46:#2e2e2e;
$gray-darker47:#494949;
$gray-darker48:#786d6b;
$gray-darker49:#585858;
$gray-darker50:#57575b;
$gray-darker51:#6b7277;
$gray-darker52:#37474f;
$gray-darker53:#484f58;
$gray-darker54:#626262;
$gray-darker55:#000000;
$gray-darker56:#180000;
$gray-darker57:#100000;
$gray-darker58:#383737;
$gray-darker59:#090909;
$gray-darker60:rgba(250,231,206,0);
$gray-darker61:rgba(225,225,225,0);
$gray-darker62:rgba(136,183,213,0);
$gray-darker63:rgba(0,0,0,0.29);
$gray-darker64:#595f63;
$gray-darker65:rgba(49,49,49,0.42);
$gray-darker66:#8995a3;
$gray-darker67:#3c3c3c;
$gray-darker68:#7c7c7c;
$gray-darker69:#0b1032;
$gray-darker70:#2a2a2a;
$gray-darker71:#454951;
$gray-darker72:#232525;
$gray-darker73:#848383;
$gray-darker74:#5a5a5a;
$gray-darker75:#847d73;
$gray-darker76:#392a17;
$gray-darker77:#322627;
$gray-darker78:#393939;
$gray-darker79:#252424;
$gray-darker80:#353333;
$gray-darker81:#2c2b2c;
$gray-darker82:#1a1a1a;
$gray-darker83:#312f2f;
$gray-darker84:#1d1d1d;
$gray-darker85:#545353;
$gray-darker86:#646363;
$gray-darker87:#515151;

$green-lighter1:#dde2cf;
$green-lighter2:#dff0d8;
$green-lighter3:#f1ffd6;
$green-lighter4:#c8cac1;
$green-lighter5:#fafbc4;
$green-lighter6:#f6feef;
$green-lighter7:#d9e8be;
$green-lighter8:#e5f2d9;
$green-lighter9:#e8f3c7;
$green-lighter10:#cddeb8;
$green-lighter11:#d0e6bd;
$green-lighter12:#ffffce;
$green-lighter13:#f5f4a2;
$green-lighter14:#a2b380;
$green-lighter15:#d7eaa0;
$green-lighter16:#d6e9c6;
$green-lighter17:#acd689;
$green-lighter18:#faf7e1;
$green-lighter19:#b9cc83;
$green-lighter20:#afda37;
$green-lighter21:#d3fde9;
$green-lighter22:#e7fbe8;
$green-lighter23:#89cc8c;
//greendark
$green-darker1:#aad02d;
$green-darker2:#b7e02a;
$green-darker3:#9dc21d;
$green-darker4:#cfed07;
$green-darker5:#b3d105;
$green-darker6:#93c06d;
$green-darker7:#79a70a;
$green-darker8:#73a037;
$green-darker9:#6baa37;
$green-darker10:#7db44f;
$green-darker11:#7cb44c;
$green-darker12:#a1c61f;
$green-darker13:#5aad14;
$green-darker14:#a1c618;
$green-darker15:#8bb717;
$green-darker16:#668b13;
$green-darker17:#8aab25;
$green-darker18:#6e9d04;
$green-darker19:#537f0a;
$green-darker20:#7da316;
$green-darker21:#6a991a;
$green-darker22:#82a916;
$green-darker23:#6d8f0d;
$green-darker24:#6a9014;
$green-darker25:#62a800;
$green-darker26:#829903;
$green-darker27:#719600;
$green-darker28:#000000;
$green-darker29:#4d9846;
$green-darker30:#11a202;
$green-darker31:#14a247;
$green-darker32:#507c09;
$green-darker33:#426a08;
$green-darker34:#587c17;
$green-darker35:#2e6005;
$green-darker36:#3c763d;
$green-darker37:#305b01;
$green-darker38:#3c6900;
$green-darker39:#046d09;
$green-darker40:#4c6007;
$green-darker41:#394b00;
$green-darker42:#003300;
$green-darker43:#6f940c;
$green-darker44:#46ac4e;
$green-darker45:#83a914;
$green-darker46:#02bb0b;
$green-darker47:#009688;
$green-darker48:#689913;
$green-darker49:#8cea5e;
$green-darker50:#8cea5f;
$green-darker51:#4b7443;
$green-darker52:#8ba839;
$green-darker53:#369350;
$green-darker54:#3a845a;
$green-darker55:#187956;
$green-darker56:#09754e;
$green-darker57:#126245;
$green-darker58:#00bf36;
$green-darker59:#4a7f09;
$green-darker60:#427a14;

//text
$orange-lighter1:#f8e0c4;
$orange-lighter2:#f1d3ad;
$orange-lighter3:#f2d5b3;
$orange-lighter4:#f3d7b4;
$orange-lighter5:#f9e7cf;
$orange-lighter6:#ebcba2;
$orange-lighter7:#f8e3c8;
$orange-lighter8:#f7e2c5;
$orange-lighter9:#e6cead;
$orange-lighter10:#f5dbba;
$orange-lighter11:#dac8ac;
$orange-lighter12:#f2e3ca;
$orange-lighter13:#faebcc;
$orange-lighter14:#fbefdf;
$orange-lighter15:#fae7cf;
$orange-lighter16:#f1d4ae;
$orange-lighter17:#f1d3ae;
$orange-lighter18:#f2d6b3;
$orange-lighter19:#f2d5b0;
$orange-lighter20:#f7ede1;
$orange-lighter21:#f1ece0;
$orange-lighter22:#f0ddb6;
$orange-lighter23:#f5dbba;
$orange-lighter24:#ecdec8;
$orange-lighter25:#faeddf;
$orange-lighter26:#f7eee0;
$orange-lighter27:#fef6e9;
$orange-lighter28:#f3edde;
$orange-lighter29:#faf8f2;
$orange-lighter30:#fff4eb;
$orange-lighter31:#fcf8e3;
$orange-lighter32:#f4d9b8;
$orange-lighter33:#e9c699;
$orange-lighter34:#e5d6b1;
$orange-lighter35:#ffd298;
$orange-lighter36:#fae7ce;
$orange-lighter37:#fedf9f;
$orange-lighter38:#fdc79a;
$orange-lighter39:#ffc78a;
$orange-lighter40:#e9be68;
$orange-lighter41:#ffb566;
$orange-lighter42:#f8b26e;
$orange-lighter43:#f8f1e4;
$orange-lighter44:#e3d8c4;
$orange-lighter45:#fff8ef;
$orange-lighter46:#f8a23e;
$orange-lighter47:#fdedd3;
//orangedark
$orange-darker1:#ff9800;
$orange-darker2:#da8a00;
$orange-darker3:#ff9600;
$orange-darker4:#d88a04;
$orange-darker5:#de891b;
$orange-darker6:#d49100;
$orange-darker7:#ffa200;
$orange-darker8:#ffa038;
$orange-darker9:#fe9800;
$orange-darker10:#e58a4e;
$orange-darker11:#de7129;
$orange-darker12:#fb7709;
$orange-darker13:#ce7b3f;
$orange-darker14:#d4793e;
$orange-darker15:#cc6e30;
$orange-darker16:#a84f1f;
$orange-darker17:#f36f32;
$orange-darker18:#b45c19;
$orange-darker19:#c1621a;
$orange-darker20:#c7631b;
$orange-darker21:#c95e05;
$orange-darker22:#ec7500;
$orange-darker23:#d76619;
$orange-darker24:#ef6a38;
$orange-darker25:#ee7211;
$orange-darker26:#f37320;
$orange-darker27:#b54d00;
$orange-darker28:#dc6109;
$orange-darker29:#ff6d04;
$orange-darker30:#cc5f12;
$orange-darker31:#fd8000;
$orange-darker32:#cc6620;
$orange-darker33:#f75817;
$orange-darker34:#fd5300;
$orange-darker35:#ff4e00;
$orange-darker36:#dc4205;
$orange-darker37:#ec6e06;
$orange-darker38:#d86200;
$orange-darker39:#c46119;
$orange-darker40:#c2621c;
$orange-darker41:#833e12;
$orange-darker42:#8a3e0c;
$orange-darker43:#8a6d3b;
$orange-darker44:#c36119;
$orange-darker45:#fa730366;
$orange-darker46:#df7128;
$orange-darker47:#b75916;
$orange-darker48:#f79e1b;
$orange-darker49:#ad521f;
$orange-darker50:#ffa80d;
$orange-darker51:#fb4700;
$orange-darker52:#bc7627;
$orange-darker53:#c17604;
$orange-darker54:#f87a16;
$orange-darker55:#9d4b15;
$orange-darker56:#f28c28;
$orange-darker57:#8e5e2c;
$orange-darker58:#b17534;
$orange-darker59:#996328;

//red-light
$red-lighter1:#ffe3e3;
$red-lighter2:#f9cecf;
$red-lighter3:#f7bcbe;
$red-lighter4:#fa8c8c;
$red-lighter5:#d56f6f;
$red-lighter6:#ff9f9f;
$red-lighter7:#bb8080;
$red-lighter8:#fc6363;
$red-lighter9:#d52b2b;
$red-lighter10:#d22;
$red-lighter11:#ff0000;
$red-lighter12:#ff3e3e;
$red-lighter13:#ec0000;
$red-lighter14:#e62600;
$red-lighter15:#ae0701;
$red-lighter16:#c31b1b;
$red-lighter17:#a2272b;
$red-lighter18:#990000;
$red-lighter19:#cb3500;
$red-lighter20:#8d1d1d;
$red-lighter21:#9d1a20;
$red-lighter22:#a94442;
$red-lighter23:#9e2021;
$red-lighter24:#db8284;
$red-lighter25:#f2dede;
$red-lighter26:#d01c18;
$red-lighter27:#8c0601;
$red-lighter28:#cc0000;
$red-lighter29:#930519;
$red-lighter30:#ebccd1;
$red-lighter31:#d44f4f;
$red-lighter32:#db5342;
$red-lighter33:#e20501;
$red-lighter34:#ffdede;
$red-lighter35:#b04442;
$red-lighter36:#be0000;
$red-lighter37:#bc261a;
$red-lighter38:#ff170a;
$red-lighter39:#ff8282;
$red-lighter40:#d50101;
$red-lighter41:#b71d04;
$red-lighter42:#b99999;
$red-lighter43:#c81b19;
$red-lighter44:#d58a8a;
$red-lighter45:#c93b1f;
$red-lighter46:#ffc2c4;
$red-lighter47:#e64949;
$red-lighter48:#d05656;
$red-lighter49:#fdded3;
$red-lighter50:#fdd3f1;
$red-lighter51:#f52015;
$red-lighter52:#ed4a00;
$red-lighter53:#e94361;
$red-lighter54:#c84b11;
//red-dark
$red-darker1:#890400;
$red-darker2:#913333;
$red-darker3:#760000;
$red-darker4:#370101;
$red-darker5:#530000;
$red-darker6:#803000;
$red-darker7:#5a2000;
$red-darker8:#780001;
$red-darker9:#7a0000;
$red-darker10:#582c04;
$red-darker11:#5f3801;
$red-darker12:#400;
$red-darker13:#590000;
$red-darker14:#772525;
$red-darker15:#220101;
$red-darker16:#3c0202;
$red-darker17:#510404;
$red-darker18:#681f00;
$red-darker19:#540808;
$red-darker20:#984040;
$red-darker21:#2b2a2a;
$red-darker22:#a9444a;
$red-darker23:#860000;
$red-darker24:#760100;//drt
$red-darker25:#570001;
$red-darker26:#5e0000;
$red-darker27:#6e0400;
$red-darker28:#471717;
$red-darker29:#712724;
$red-darker30:#4e0202;
$red-darker31:#7c1812;
$red-darker32:#420001;
$red-darker33:#620901;
$red-darker34:#490000;
$red-darker35:#510000;
$red-darker36:#630000;
$red-darker37:#7b0000;
$red-darker38:#480000;
$red-darker39:#8c0001;
$red-darker40:#3c0000;
$red-darker41:#620505;
$red-darker42:#6d290e;
$red-darker43:#d25252;
$red-darker44:#e54949;
$red-darker45:#a02014;
$red-darker46:#211616;
$red-darker47:#100919;
$red-darker48:#1b0a1b;
$red-darker49:#240b1a;
$red-darker50:#2c0b15;
$red-darker51:#330c0c;
$red-darker52:#870000;
$red-darker53:#690101;
$red-darker54:#7b2b3b;
$red-darker55:#992121;
$red-darker56:#bc2b2b;
$red-darker57:#951f1f;

$yellow-lighter1:#ffffe6;
$yellow-lighter2:#fdf9e8;
$yellow-lighter3:#c5c6a7;
$yellow-lighter4:#f0f2b1;
$yellow-lighter5:#f6ff00;
$yellow-lighter6:#edfc02;
$yellow-lighter7:#ffde12;
$yellow-lighter8:#f0c80f;
$yellow-lighter9:#f4db74;
$yellow-lighter10:#ffeb3b;
$yellow-lighter11:#fff409;
$yellow-lighter12:#ddca1c;
$yellow-lighter13:#e2cb47;
$yellow-lighter14:#cdcbbf;
$yellow-lighter15:#e1d8b3;
$yellow-lighter16:#e5dbb6;
$yellow-lighter17:#efefcd;
$yellow-lighter18:#fcfcdb;
$yellow-lighter19:#fcfce7;
$yellow-lighter20:#faf7e1;
$yellow-lighter21:rgba(255,204,0,0);
$yellow-lighter22:#fedf9f;
$yellow-lighter23:#f5f4a2;
$yellow-lighter24:#e6f501;
$yellow-lighter25:#968a74;
$yellow-lighter26:#fffa6a;
$yellow-lighter27:#fdd911;
$yellow-lighter28:#ffb502;
$yellow-lighter29:#ffe44d;
$yellow-lighter30:#ff9e08;
$yellow-lighter31:#ff9a00;
$yellow-lighter32:#fff4c7;
$yellow-lighter33:#fed692;
$yellow-lighter34:#fffb80;
$yellow-lighter35:#fff59d;
$yellow-lighter36:#fbf9f4;
$yellow-lighter37:#fdf0ad;
$yellow-lighter38:#fff4cc;
$yellow-lighter39:#ffdfa1;
$yellow-lighter40:#ffeca8;
$yellow-lighter41:#FFF387;
$yellow-lighter42:#fef8e2;
$yellow-lighter43:#c3b4a0;
//yellowdark
$yellow-darker1:#d8b424;
$yellow-darker2:#ffcc00;
$yellow-darker3:#e3bb28;
$yellow-darker3:#e3bb21;
$yellow-darker5:#ddb826;
$yellow-darker6:#fcdf00;
$yellow-darker7:#d6be00;
$yellow-darker8:#a39514;
$yellow-darker9:#837342;
$yellow-darker10:#f79e1b;
$yellow-darker11:#a9792e;
$yellow-darker12:#eca140;
$yellow-darker13:#f4b643;
$yellow-darker14:#ffe600;
$yellow-darker15:#DEBB16;
$yellow-darker16:#8A6F3C;
