$bg-black:$blue-lighter1;
$bg-white:$blue-lighter2;
$bg-white:($blue-lighter3);
$bg-white: ($blue-lighter3);
button{
    border: 1px solid $blue-lighter1;
    @include borderradius(23px);
    @include box-shadow(0 0 5px #4d9846);
    @include gradient($origin:bottom,$fallback:($blue-lighter1),$stops:(($blue-lighter1) 11%,#cfed07 24%,#cfed07 62%,#b3d105 78%, #829903 93%, ));
}