$bg-white:#ffffff;
$bg-black:#000000;
$bg-green:#82a916;
$bg-blue:#2b7fc7;
$bg-gray:#eeeeee;
$bg-red1:#f2dede;
$bg-red2:#760000;
$bg-red3:#530000;
$bg-red4:#2b2a2a;
$bg-red5:#ff9f9f;
$bg-red6:#f9cecf;
$bg-red7:#e62600;
$bg-red8:#fc6363;
$bg-red9:#220101;
$bg-red10:#5f3801;
$bg-red11:#780001;
$bg-red12:#7a0000;
$bg-red13:#db5342;
$bg-red14:#370101;
$bg-red15:#9e2021;
$bg-red16:#803000;
$bg-red17:#d22;
$bg-red18:#cb3500;
$bg-red19:#a9444a;
$bg-red20:#860000;
$bg-red21:#b04442;
$bg-red22:#bc261a;
$bg-red23:#ff170a;
$bg-red24:#d50101;
$bg-red25:#ff3e3e;
$bg-red26:#760100;
$bg-red27:#570001;
$bg-red28:#b71d04;
$bg-red29:#6e0400;
$bg-red30:#471717;
$bg-red31:#4e0202;
$bg-red32:#5e0000;
$bg-red33:#420001;
$bg-red34:#490000;
$bg-red35:#510000;
$bg-red36:#630000;
$bg-red37:#7b0000;
$bg-red38:#480000;
$bg-red39:#8c0001;
$bg-red40:#3c0000;
$bg-red41:#c93b1f;
$bg-red42:#620505;
$bg-red43:#6d290e;
$bg-red44:#990000;
$bg-red45:#ff0000;
$bg-red46:#fdded3;
$bg-red47:#fdd3f1;
$bg-red48:#a02014;
$bg-red49:#f52015;
$bg-red50:#211616;
$bg-red51:#100919;
$bg-red52:#1b0a1b;
$bg-red53:#240b1a;
$bg-red54:#2c0b15;
$bg-red55:#330c0c;
$bg-red56:#870000;
$bg-red57:#e94361;
$bg-red58:#992121;
$bg-red59:#bc2b2b;
$bg-red60:#951f1f;
$bg-gray1:#f0f0f0;
$bg-gray2:#8c8c8c;
$bg-gray3:#999999;
$bg-gray4:#333333;
$bg-gray5:#dfdfdf;
$bg-gray6:#e6e6e6;
$bg-gray7:#e9e9e9;
$bg-gray8:#cccccc;
$bg-gray9:#8c9aa2;
$bg-gray10:#adadad;
$bg-gray11:#424237;
$bg-gray12:#b9b9b9;
$bg-gray13:#6b7277;
$bg-gray14:#0e0d0d;
$bg-gray15:#e0dddd;
$bg-gray16:#faf7e1;
$bg-gray17:#f3f3f3;
$bg-gray18:rgba(204,204,204,0.722);
$bg-gray19:#eaeaea;
$bg-gray20:#f1f0f0;
$bg-gray21:#f8f8f8;
$bg-gray22:#e1e1e1;
$bg-gray23:#ebebeb;
$bg-gray24:#e0dfdf;
$bg-gray25:#e3e3e3;
$bg-gray26:#2b2a2a;
$bg-gray27:#b1b1b1;
$bg-gray28:#5b5b5b;
$bg-gray29:#4a4a4a;
$bg-gray30:#2d2506;
$bg-gray31:#4e4e4e;
$bg-gray32:#7d807b;
$bg-gray33:#6b5f5d;
$bg-gray34:#dcdcdc;
$bg-gray35:#dddddd;
$bg-gray36:#f5f5f5;
$bg-gray37:#a9a9a9;
$bg-gray38:#eff2f2;
$bg-gray39:#e2e2e3;
$bg-gray40:#dde2e2;
$bg-gray41:#ececec;
$bg-gray42:#857775;
$bg-gray43:#bfbfbf;
$bg-gray44:#363636;
$bg-gray45:#2e2e2e;
$bg-gray46:#f6f6f6;
$bg-gray47:#aeaeae;
$bg-gray48:#8f8f8f;
$bg-gray49:#b6afae;
$bg-gray50:#5e5451;
$bg-gray51:#5f5f5f;
$bg-gray52:#bcbbbb;
$bg-gray53:#cdcdcd;
$bg-gray54:#9b9b9b;
$bg-gray55:#bcbcbc;
$bg-gray56:#bdbdbd;
$bg-gray57:#898989;
$bg-gray58:#cacbcc;
$bg-gray59:#bfbf9e;
$bg-gray60:#aaaa89;
$bg-gray61:#babbbb;
$bg-gray62:#e6e7e8;
$bg-gray63:#faf0ce;
$bg-gray64:#f7d39b;
$bg-gray65:#c6bcb0;
$bg-gray66:#180000;
$bg-gray67:#100000;
$bg-gray68:#090909;
$bg-gray69:#383737;
$bg-gray70:#d4d4d4;
$bg-gray71:#f9f6f6;
$bg-gray72:#cfcfcf;
$bg-gray73:#f9f6f6;
$bg-gray74:#dedcdc;
$bg-gray75:#c8c4c4;
$bg-gray76:#a49e9e;
$bg-gray77:#dedbdb;
$bg-gray78:#d6cece;
$bg-gray79:#c1b9b9;
$bg-gray80:#e0e0e0;
$bg-gray81:#8c9aa2;
$bg-gray82:#77838a;
$bg-gray83:#d3d3d3;
$bg-gray84:#edf5f8;
$bg-gray85:#c1bebe;
$bg-gray86:#f1f1f1;
$bg-gray87:#dcdada;
$bg-gray88:#f5e1d3;
$bg-gray89:#d2d0d0;
$bg-gray90:#f5f4f2;
$bg-gray91:#585858;
$bg-gray92:#ffffce;
$bg-gray93:#e5f2d9;
$bg-gray94:#d5d4d4;
$bg-gray95:#666666;
$bg-gray96:#f4f4f4;
$bg-gray97:#b5b5b5;
$bg-gray98:#fafafa;
$bg-gray99:#fdfaf3;
$bg-gray100:#c8c8c8;
$bg-gray101:#d1d1d1;
$bg-gray102:#e4e4e4;
$bg-gray103:#f2e3ca;
$bg-gray104:#d5e3f0;
$bg-gray105:#f5f3f4;
$bg-gray106:#f5e9e8;
$bg-gray107:#f8f2e5;
$bg-gray108:#979797;
$bg-gray109:#454951;
$bg-gray110:#232525;
$bg-gray111:#bb9c9a;
$bg-gray112:#dbdcde;
$bg-gray113:#f9f8f8;
$bg-gray114:#787878;
$bg-gray115:#dedede;
$bg-gray116:#fff3e9;
$bg-gray117:#f8f6f6;
$bg-gray118:#e2efda;
$bg-gray119:#fbfbfb;
$bg-gray120:#f1f3f4;
$bg-gray121:#e8ecef;
$bg-gray122:#7d7d7d;
$bg-gray123:#555555;
$bg-gray124:#ebeeed;
$bg-gray125:#6c7277;
$bg-gray126:#e7fbe8;
$bg-gray127:#f2f2f2;
$bg-gray128:#fdfef5;
$bg-gray129:#fef3e3;
$bg-gray130:#eed7b5;
$bg-gray131:#252424;
$bg-gray132:#353333;
$bg-gray133:#2c2b2c;
$bg-gray134:#1a1a1a;
$bg-gray135:#f7f7f7;
$bg-gray136:#f9f9f9;
$bg-gray137:#fcfbfb;
$bg-gray138:#1d1d1d;
$bg-gray139:#393939;
$bg-gray140:#e8dfd3;
$bg-gray141:#eee5d9;
$bg-gray142:#fefefe;
$bg-gray143:#545353;
$bg-gray144:#646363;
$bg-gray145:#515151;
$bg-blue1:#2fa0d8;
$bg-blue2:#0f5f80;
$bg-blue3:#167fae;
$bg-blue4:#32a1d8;
$bg-blue5:#105f7e;
$bg-blue6:#05374b;
$bg-blue7:#167fae;
$bg-blue8:#32a1d1;
$bg-blue9:#105f7e;
$bg-blue10:#2b489b;
$bg-blue11:#00b6f1;
$bg-blue12:#2787b8;
$bg-blue13:#448aff;
$bg-blue14:#2282ae;
$bg-blue15:#2fa0d8;
$bg-blue16:#0f5f80;
$bg-blue17:#2383a8;
$bg-blue18:#52b3e3;
$bg-blue19:#288ebe;
$bg-blue20:#dcd3fd;
$bg-blue21:#d3e4fd;
$bg-blue22:#98a8c9;
$bg-blue23:#8fbef0;
$bg-blue24:#7fa8c4;
$bg-blue25:#024680;
$bg-blue26:#2c6799;
$bg-blue27:#3073ac;
$bg-blue28:#2a6394;
$bg-orange1:#ee7211;
$bg-orange2:#f7ede1;
$bg-orange3:#dac8ac;
$bg-orange4:#faeddf;
$bg-orange5:#ffa200;
$bg-orange6:#ff9600;
$bg-orange7:#f9e7cf;
$bg-orange8:#fedf9f;
$bg-orange9:#fef6e9;
$bg-orange10:#f2e3ca;
$bg-orange11:#ecdec8;
$bg-orange12:#f7eee0;
$bg-orange13:#f2d5b0;
$bg-orange14:#f37320;
$bg-orange15:#b54d00;
$bg-orange16:#da8a00;
$bg-orange17:#fcf8e3;
$bg-orange18:#f75817;
$bg-orange19:#f3edde;
$bg-orange20:#faf8f2;
$bg-orange21:#fff4eb;
$bg-orange22:#f1ece0;
$bg-orange23:#ef6a38;
$bg-orange24:#ffc78a;
$bg-orange25:#ec6e06;
$bg-orange26:#f8e3c8;
$bg-orange27:#f7e2c5;
$bg-orange28:#f1d3ad;
$bg-orange29:#f2d5b3;
$bg-orange30:#a84f1f;
$bg-orange31:#dc4205;
$bg-orange32:#e58a4e;
$bg-orange33:#de7129;
$bg-orange34:#ce7b3f;
$bg-orange35:#fb7709;
$bg-orange36:#f5dbba;
$bg-orange37:#ffd298;
$bg-orange38:#fd5300;
$bg-orange39:#fbefdf;
$bg-orange40:#fae7cf;
$bg-orange41:#f1d4ae;
$bg-orange42:#f1d3ae;
$bg-orange43:#f2d6b3;
$bg-orange44:#dc6109;
$bg-orange45:#ff6d04;
$bg-orange46:#cc5f12;
$bg-orange47:#cc6620;
$bg-orange48:#d4793e;
$bg-orange49:#cc6e30;
$bg-orange50:#fa730366;
$bg-orange51:#fdc79a;
$bg-orange52:#c95e05;
$bg-orange53:#df7128;
$bg-orange54:#b75916;
$bg-orange55:#f4d9b8;
$bg-orange56:#f8f1e4;
$bg-orange57:#ff9800;
$bg-orange58:#f79e1b;
$bg-orange59:#ad521f;
$bg-orange60:#fb4700;
$bg-orange61:#c17604;
$bg-orange62:#f87a16;
$bg-orange63:#9d4b15;
$bg-orange64:#fff8ef;
$bg-orange65:#f8a23e;
$bg-orange66:#fdedd3;
$bg-orange67:#8e5e2c;
$bg-orange68:#b17534;
$bg-orange69:#996328;
$bg-yellow1:#e3bb21;
$bg-yellow2:#a39514;
$bg-yellow3:#efefcd;
$bg-yellow4:#fcfce7;
$bg-yellow5:#ffde12;
$bg-yellow6:rgba(255,204,0,0);
$bg-yellow7:#d8b424;
$bg-yellow8:#f0f2b1;
$bg-yellow9:#ffffe6;
$bg-yellow10:#fcfcdb;
$bg-yellow11:#fedf9f;
$bg-yellow12:#ddca1c;
$bg-yellow13:#e2cb47;
$bg-yellow14:#e6f501;
$bg-yellow15:#ffb502;
$bg-yellow16:#ffe44d;
$bg-yellow17:#fff4c7;
$bg-yellow18:#fff59d;
$bg-yellow19:#fbf9f4;
$bg-yellow20:#fdf0ad;
$bg-yellow21:#f4b643;
$bg-yellow22:#fff4cc;
$bg-yellow23:#ffe600;
$bg-yellow24:#ffeca8;
$bg-yellow25:#fef8e2;
$bg-green1:#fafbc4;
$bg-green2:#dff0d8;
$bg-green3:#a1c61f;
$bg-green4:#507c09;
$bg-green5:#8bb717;
$bg-green6:#426a08;
$bg-green7:#82a916;
$bg-green8:#b7e02a;
$bg-green9:#305b01;
$bg-green10:#f6feef;
$bg-green11:#6d8f0d;
$bg-green12:#5aad14;
$bg-green13:#acd689;
$bg-green14:#14a247;
$bg-green15:#829903;
$bg-green16:#cfed07;
$bg-green17:#b3d105;
$bg-green18:#000000;
$bg-green19:#d7eaa0;
$bg-green20:#6f940c;
$bg-green21:#faf7e1;
$bg-green22:#719600;
$bg-green23:#73a037;
$bg-green24:#b9cc83;
$bg-green25:#8cea5e;
$bg-green26:#8cea5f;
$bg-green27:#8ba839;
$bg-green28:#d3fde9;
$bg-green29:#02bb0b;
$bg-green30:#e7fbe8;
$bg-green31:#187956;
$bg-green32:#09754e;
$bg-green33:#126245;
$bg-green34:#00bf36;
$border-white:#ffffff;
$border-black:#000000;
$border-green:#82a916;
$border-gray:#8c9aa2;
$border-red1:#ff9f9f;
$border-red2:#f9cecf;
$border-red3:#bb8080;
$border-red4:#d52b2b;
$border-red5:#681f00;
$border-red6:#f7bcbe;
$border-red7:#9d1a20;
$border-red8:#990000;
$border-red9:#c31b1b;
$border-red10:#ebccd1;
$border-red11:#ff0000;
$border-red12:#a94442;
$border-red13:#d44f4f;
$border-red14:#760000;
$border-red15:#772525;
$border-red16:#913333;
$border-red17:#984040;
$border-red18:#400;
$border-red19:#590000;
$border-red20:#540808;
$border-red21:#b71d04;
$border-red22:#712724;
$border-red23:#7c1812;
$border-red24:#c81b19;
$border-red25:#e64949;
$border-red26:#7b2b3b;
$border-gray1:#f0f0f0;
$border-gray2:#dedede;
$border-gray3:#333333;
$border-gray4:#e7e7e7;
$border-gray5:#020101;
$border-gray6:#cccccc;
$border-gray7:#adadad;
$border-gray8:#9d9d9d;
$border-gray9:#a0a0a0;
$border-gray10:#afaeac;
$border-gray11:#eaeef0;
$border-gray12:rgba(250,231,206,0);
$border-gray13:#7b7b7b;
$border-gray14:#e9e9e9;
$border-gray15:#b6b6b6;
$border-gray16:#c6c6c6;
$border-gray17:#aaaaaa;
$border-gray18:#c1c1c1;
$border-gray19:#b7b7b7;
$border-gray20:#92a0a7;
$border-gray21:#efefef;
$border-gray22:#8e8c8c;
$border-gray23:#808080;
$border-gray24:#9a9796;
$border-gray25:#a1a1a1;
$border-gray26:#a7a7a7;
$border-gray27:#bbb8b8;
$border-gray28:#0a2610;
$border-gray29:#91948f;
$border-gray30:rgba(136,183,213,0);
$border-gray31:#979797;
$border-gray32:#a9a9a9;
$border-gray33:#bdbdbd;
$border-gray34:#020202;
$border-gray35:#5d5d5d;
$border-gray36:#2e2e2e;
$border-gray37:#cacbcc;
$border-gray38:#bcbbbb;
$border-gray39:#e1e1e1;
$border-gray40:#999999;
$border-gray41:#a2a2a2;
$border-gray42:#c3c3c3;
$border-gray43:#d3d3d3;
$border-gray44:#8f8f8f;
$border-gray45:#646464;
$border-gray46:#9f9f9f;
$border-gray47:#969697;
$border-gray48:#f7d39b;
$border-gray49:#343434;
$border-gray50:#595959;
$border-gray51:#666666;
$border-gray52:#424242;
$border-gray53:#f3f3f3;
$border-gray54:#e0dddd;
$border-gray55:#dedbdb;
$border-gray56:#ccc5c5;
$border-gray57:#dcdcda;
$border-gray58:#dadfe0;
$border-gray59:#9b9e98;
$border-gray60:#eeeeee;
$border-gray61:#d0e6bd;
$border-gray62:#dde2cf;
$border-gray63:#c0c0c0;
$border-gray64:#909090;
$border-gray65:#b4b4b4;
$border-gray66:#e4e4e4;
$border-gray67:#7c7c7c;
$border-gray68:#ededed;
$border-gray69:#c4c4c4;
$border-gray70:#888888;
$border-gray71:#838282;
$border-gray72:#dad7d7;
$border-gray73:#616161;
$border-gray74:#c7c7c7;
$border-gray75:#cdcdcd;
$border-gray76:#929292;
$border-gray77:#b0b0b0;
$border-gray78:#ebebeb;
$border-gray79:#cecece;
$border-gray80:#555555;
$border-gray81:#d8d8d8;
$border-gray82:#fbf7e6;
$border-gray83:#acacac;
$border-gray84:#e1e8e7;
$border-gray85:#c8c8c8;
$border-gray86:#dddcdc;
$border-gray87:#e9e8e8;
$border-gray88:#e0ddc9;
$border-gray89:#b1aeae;
$border-gray90:#322627;
$border-gray91:#393939;
$border-gray92:#d1cfcf;
$border-gray93:#b5b5b5;
$border-blue1:#003366;
$border-blue2:#288ebe;
$border-blue3:#95bfe3;
$border-blue4:#295d75;
$border-blue5:#378cb6;
$border-blue6:#295d75;
$border-blue7:#2282ae;
$border-blue8:#0060ac;
$border-blue9:#4590a2;
$border-blue10:#114568;
$border-blue11:#2b7fc7;
$border-blue12:#4091f0;
$border-blue13:#768092;
$border-blue14:#024680;
$border-yellow1:#ddb826;
$border-yellow2:#c5c6a7;
$border-yellow3:#e5dbb6;
$border-yellow4:#e1d8b3;
$border-yellow5:#ffde12;
$border-yellow6:#f0c80f;
$border-yellow7:#cdcbbf;
$border-yellow8:#efefcd;
$border-yellow9:#ffcc00;
$border-yellow10:#fedf9f;
$border-yellow11:#f4db74;
$border-yellow12:#f5f4a2;
$border-yellow13:#fed692;
$border-yellow14:#a9792e;
$border-yellow15:#e2cb47;
$border-yellow16:#eca140;
$border-yellow17:#c3b4a0;
$border-orange1:#faebcc;
$border-orange2:#ebcba2;
$border-orange3:#fd5300;
$border-orange4:#ffb566;
$border-orange5:#f2d5b3;
$border-orange6:#f9e7cf;
$border-orange7:#fedf9f;
$border-orange8:#e9c699;
$border-orange9:#f0ddb6;
$border-orange10:#f7ede1;
$border-orange11:#ec7500;
$border-orange12:#e9be68;
$border-orange13:#f75817;
$border-orange14:#e5d6b1;
$border-orange15:#ef6a38;
$border-orange16:#ec6e06;
$border-orange17:#c36119;
$border-orange18:#ce7b3f;
$border-orange19:#f8e3c8;
$border-orange20:#f5dbba;
$border-orange21:#c2621c;
$border-orange22:#b45c19;
$border-orange23:#c1621a;
$border-orange24:#833e12;
$border-orange25:#f2d5b0;
$border-orange26:#f4d9b8;
$border-orange27:#f79e1b;
$border-orange28:#e3d8c4;
$border-orange29:#f2e3ca;
$border-orange30:#ad521f;
$border-orange31:#bc7627;
$border-orange32:#ff9800;
$border-green1:#587c17;
$border-green2:#62a800;
$border-green3:#4c6007;
$border-green4:#8aab25;
$border-green5:#7da316;
$border-green6:#a2b380;
$border-green7:#d6e9c6;
$border-green8:#d9e8be;
$border-green9:#79a70a;
$border-green10:#11a202;
$border-green11:#d7eaa0;
$border-green12:#93c06d;
$border-green13:#cddeb8;
$border-green14:#7db44f;
$border-green15:#7cb44c;
$border-green16:#8bb717;
$border-green17:#83a914;
$border-green18:#afda37;
$border-green19:#8ba839;
$border-green20:#02bb0b;
$border-green21:#369350;
$border-green22:#89cc8c;
$border-green23:#3a845a;
$shadow-white:#ffffff;
$shadow-black:#000000;
$shadow-red1:#990000;
$shadow-red2:#5a2000;
$shadow-gray1:#f0f0f0;
$shadow-gray2:#000000;
$shadow-gray3:#333333;
$shadow-gray4:#eeeeee;
$shadow-gray5:#e1e1e1;
$shadow-gray6:#666666;
$shadow-gray7:#323232;
$shadow-gray8:rgba(0,0,0,0.29);
$shadow-gray9:#a0a0a0;
$shadow-gray10:#cccccc;
$shadow-gray11:#c7c1c1;
$shadow-gray12:#e6e6e6;
$shadow-gray13:rgba(49,49,49,0.42);
$shadow-gray14:rgba(255,255,255,0.502);
$shadow-gray15:rgba(206,205,205,0.902);
$shadow-gray16:rgba(255,255,255,0);
$shadow-gray17:#dddddd;
$shadow-blue1:#66afe9;
$shadow-blue2:#144860;
$shadow-yellow1:#d8b424;
$shadow-green1:#2e6005;
$shadow-green2:#4d9846;
$shadow-green3:#003300;
$shadow-orange1:#de891b;
$shadow-orange2:#8a3e0c;
$text-white:#ffffff;
$text-black:#000000;
$text-gray:#8c9aa2;
$text-red1:#a94442;
$text-red2:#760000;
$text-red3:#ec0000;
$text-red4:#990000;
$text-red5:#ff3e3e;
$text-red6:#fa8c8c;
$text-red7:#d56f6f;
$text-red8:#c31b1b;
$text-red9:#d52b2b;
$text-red10:#930519;
$text-red11:#3c0202;
$text-red12:#582c04;
$text-red13:#ae0701;
$text-red14:#510404;
$text-red15:#400;
$text-red16:#5f3801;
$text-red17:#ff0000;
$text-red18:#8d1d1d;
$text-red19:#e62600;
$text-red20:#d44f4f;
$text-red21:#a2272b;
$text-red22:#a9444a;
$text-red23:#9d1a20;
$text-red24:#cc0000;
$text-red25:#e20501;
$text-red26:#ffdede;
$text-red27:#b04442;
$text-red28:#be0000;
$text-red29:#ff8282;
$text-red30:#5e0000;
$text-red31:#b99999;
$text-red32:#620901;
$text-red33:#d58a8a;
$text-red34:#ffc2c4;
$text-red35:#d25252;
$text-red36:#e64949;
$text-red37:#d05656;
$text-red38:#e54949;
$text-red39:#ed4a00;
$text-red40:#690101;
$text-red41:#f52015;
$text-red42:#c84b11;
$text-gray1:#333333;
$text-gray2:#ffffff;
$text-gray3:#000000;
$text-gray4:#b4b4b4;
$text-gray5:#b2b2b2;
$text-gray6:#666666;
$text-gray7:#979797;
$text-gray8:#686868;
$text-gray9:#343434;
$text-gray10:#b6b6b6;
$text-gray11:#c6c6c6;
$text-gray12:#e7e7e7;
$text-gray13:#5e5451;
$text-gray14:#272727;
$text-gray15:#7b7b7b;
$text-gray16:#b9b9b9;
$text-gray17:#8e8b8b;
$text-gray18:#37474f;
$text-gray19:#0a2610;
$text-gray20:#e1e1e1;
$text-gray21:#999999;
$text-gray22:#2e2e2e;
$text-gray23:#dddddd;
$text-gray24:#222222;
$text-gray25:#202020;
$text-gray26:#f8f8f8;
$text-gray27:#444444;
$text-gray28:#5f5f5f;
$text-gray29:#aaaaaa;
$text-gray30:#888787;
$text-gray31:#fefefe;
$text-gray32:#efefef;
$text-gray33:#1b1500;
$text-gray34:#373737;
$text-gray35:#191919;
$text-gray36:#313131;
$text-gray37:#5c5c5c;
$text-gray38:#6f6f6f;
$text-gray39:#4a4a4a;
$text-gray40:#555555;
$text-gray41:#616161;
$text-gray42:#6e6e6e;
$text-gray43:#2f3101;
$text-gray44:#dbdada;
$text-gray45:rgba(225,225,225,0);
$text-gray46:#505050;
$text-gray47:#929292;
$text-gray48:#a9a9a9;
$text-gray49:#bdbdbd;
$text-gray50:#3b3b3b;
$text-gray51:#fcfcfc;
$text-gray52:#2b2e35;
$text-gray53:#323232;
$text-gray54:#171717;
$text-gray55:#404040;
$text-gray56:#4c4b4b;
$text-gray57:#020202;
$text-gray58:#646464;
$text-gray59:#a7a7a7;
$text-gray60:#a4a4a4;
$text-gray61:#f2f2f2;
$text-gray62:#626262;
$text-gray63:#595959;
$text-gray64:#7d807b;
$text-gray65:#8f8f8f;
$text-gray66:#595f63;
$text-gray67:#494949;
$text-gray68:#585858;
$text-gray69:#57575b;
$text-gray70:#b8b8b8;
$text-gray71:#8995a3;
$text-gray72:#8e8e8e;
$text-gray73:#787878;
$text-gray74:#3c3c3c;
$text-gray75:#7c7c7c;
$text-gray76:#a6a6a6;
$text-gray77:#c3c3c3;
$text-gray78:#a2b0c0;
$text-gray79:#a3a3a3;
$text-gray80:#0b1032;
$text-gray81:#2a2a2a;
$text-gray82:#adadad;
$text-gray83:#949393;
$text-gray84:#ced2dc;
$text-gray85:#c3c4c5;
$text-gray86:#f5f5f5;
$text-gray87:#f3f3f3;
$text-gray88:#fdfdfd;
$text-gray89:#888888;
$text-gray90:#7d7d7d;
$text-gray91:#acacac;
$text-gray92:#cdcdcd;
$text-gray93:#7f7e7e;
$text-gray94:#828181;
$text-gray95:#848383;
$text-gray96:#5a5a5a;
$text-gray97:#747474;
$text-gray98:#424242;
$text-gray99:#c8c8c8;
$text-gray100:#847d73;
$text-gray101:#392a17;
$text-gray102:#312f2f;
$text-gray103:#fffbfb;
$text-gray104:#1d1d1d;
$text-blue1:#0060ac;
$text-blue2:#2b7fc7;
$text-blue3:#007fce;
$text-blue4:#2383a8;
$text-blue5:#167fae;
$text-blue6:#003333;
$text-blue7:#003361;
$text-blue8:#5494d0;
$text-blue9:#0678be;
$text-blue10:#0d5491;
$text-blue11:#295d75;
$text-blue12:#0f5f80;
$text-blue13:#2282ae;
$text-blue14:#153d98;
$text-blue15:#114568;
$text-blue16:#4a79a3;
$text-blue17:#4091f0;
$text-blue18:#024680;
$text-blue19:#007bff;
$text-blue20:#144860;
$text-green1:#82a916;
$text-green2:#3c763d;
$text-green3:#6a9014;
$text-green4:#6e9d04;
$text-green5:#f1ffd6;
$text-green6:#c8cac1;
$text-green7:#668b13;
$text-green8:#3c6900;
$text-green9:#046d09;
$text-green10:#6baa37;
$text-green11:#46ac4e;
$text-green12:#6a991a;
$text-green13:#02bb0b;
$text-green14:#009688;
$text-green15:#83a914;
$text-green16:#689913;
$text-green17:#4b7443;
$text-green18:#8ba839;
$text-green19:#369350;
$text-green20:#4a7f09;
$text-green21:#427a14;
$text-orange1:#8a6d3b;
$text-orange2:#d88a04;
$text-orange3:#d49100;
$text-orange4:#f36f32;
$text-orange5:#ffa200;
$text-orange6:#ff9600;
$text-orange7:#f75817;
$text-orange8:#ef6a38;
$text-orange9:#f8b26e;
$text-orange10:#ff4e00;
$text-orange11:#ec6e06;
$text-orange12:#fd8000;
$text-orange13:#fe9800;
$text-orange14:#b54d00;
$text-orange15:#ffa038;
$text-orange16:#fd5300;
$text-orange17:#d76619;
$text-orange18:#8a3e0c;
$text-orange19:#f79e1b;
$text-orange20:#ffa80d;
$text-orange21:#ff9800;
$text-orange22:#f28c28;
$text-yellow1:#ffeb3b;
$text-yellow2:#edfc02;
$text-yellow3:#ffde12;
$text-yellow4:#d8b424;
$text-yellow5:#f0c80f;
$text-yellow6:#fcdf00;
$text-yellow7:#d6be00;
$text-yellow8:#fff409;
$text-yellow9:#ffcc00;
$text-yellow10:#f6ff00;
$text-yellow11:#837342;
$text-yellow12:#968a74;
$text-yellow13:#f79e1b;
$text-yellow14:#fffa6a;
$text-yellow15:#fdd911;
$text-yellow16:#ff9e08;
$text-yellow17:#ff9a00;
$text-yellow18:#fffb80;
$text-yellow19:#eca140;
$text-yellow20:#ffdfa1;
$text-yellow21:#DEBB16;
$text-yellow22:#FFF387;
$text-yellow23:#8A6F3C;